#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	mkdir -vp obj-x86_64-linux-gnu && cd obj-x86_64-linux-gnu && \
	  ../build-libs.sh
	dh_auto_configure -- -DBUILD_TESTING:BOOL=OFF -DUSE_SYSTEM_BPF_BCC=0

STRIP_CMD=strip --keep-symbol=BEGIN_trigger --keep-symbol=END_trigger --remove-section=.comment --remove-section=.note
override_dh_strip:
	dh_strip -Xbpftrace # -Xbpftrace-aotrt
	$(STRIP_CMD) debian/bpftrace/usr/bin/bpftrace
	#$(STRIP_CMD) debian/bpftrace/usr/bin/bpftrace-aotrt

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/bpftrace/usr/share/bpftrace/tools/doc

	# Move binaries to /usr/sbin
	mkdir -p debian/bpftrace/usr/sbin
	mv debian/bpftrace/usr/share/bpftrace/tools/*.bt debian/bpftrace/usr/sbin
	rm -rf debian/bpftrace/usr/share/bpftrace/tools/old
	rmdir debian/bpftrace/usr/share/bpftrace/tools \
	      debian/bpftrace/usr/share/bpftrace

	# Add some extra binaries
	curl -fLsS https://github.com/Netflix/bpftop/releases/download/v0.4.0/bpftop \
	  -o debian/bpftrace/usr/sbin/bpftop-v0.4.0
	echo 'a4cc9a3d87688fc861e039062dbaf55e  debian/bpftrace/usr/sbin/bpftop-v0.4.0' | md5sum -c
	chmod 755 debian/bpftrace/usr/sbin/bpftop-v0.4.0
	ln -s bpftop-v0.4.0 debian/bpftrace/usr/sbin/bpftop
